{% extends 'navbar.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = './styles/index.css') }}">
<div class="intro">
    <h3>Computer Vision</h3>
    <p>A platform to expand your vision with computer vision based in python</p>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-sm-6 col-12">
            <div class="background">
                <div class="content-img">
                    <img src="{{ url_for('static', filename = './images/face.png') }}" alt="">
                </div>
                <div class="content-description">
                    <h4>Face Detection</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In dolores voluptatibus ut quia minus sit dicta nesciunt ducimus hic voluptate eaque officiis animi, veniam architecto suscipit atque repudiandae inventore sunt?</p>
                </div>
                <div class="content-button">
                    <a href="/face_detection"><button class="btn btn-success live">Go Live</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="background">
                <div class="content-img">
                    <img src="{{ url_for('static', filename = './images/hand.png') }}" alt="">
                </div>
                <div class="content-description">
                    <h4>Hand Detection</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In dolores voluptatibus ut quia minus sit dicta nesciunt ducimus hic voluptate eaque officiis animi, veniam architecto suscipit atque repudiandae inventore sunt?</p>
                </div>
                <div class="content-button">
                    <button class="btn btn-success live">Go Live</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}