@import './breakpoints.scss';

body{
    .background{
        background-color: white;
        padding: 1rem;
        .content-heading{
            h2{
                font-size:35px;
                text-align: center;
                margin-bottom: 5px;
            }
            p{
                margin-top: 5px;
                font-size: 20px;
                text-align: justify;
            }
        }
        #streaming{
            text-align: center;
            padding: 1rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 360px;
                height: auto;
                // margin-left: 20px;
                margin-bottom: 5px;
                @include media("<=sm"){
                    width: 180px;
                }
            }

        }
        #videoStreaming{
            text-align: center;
            padding: 1rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 480px;
                height: auto;
                // margin-left: 20px;
                margin-bottom: 5px;
                @include media("<=sm"){
                    width: 320px;
                    margin-left: 0px;
                }
            }
            h3{
                text-align: center;
                font-size: 18px;
            }

        }
        .decision-button{
            margin-top: 10px;
            text-align: center;
            button{
                border-radius: 1px;
                @include media("<=sm"){
                    font-size: 12px;
                }
            }
        }
    }
}